.h1 {
    font-size:40px;
    margin-top: 6%;
    margin-bottom: 8%;  
}

.container {
    margin: 50px 0;
}

.card {
    margin: 0 2% !important;
    transition: all 1s;
}

.card:hover {
    transform: scale(1.1);
}  

.developer {
    border-bottom: 10px solid rgba(137, 137, 235, 0.5);
}

.designer {
    border-bottom: 10px solid rgba(90, 199, 122, 0.5);
}

.other {
    border-bottom: 10px solid rgba(145, 250, 224, 0.5);
}

@media screen and (max-width: 770px) {
    .card {
        margin: 2% 0 !important;
    }

    .h1 {
        margin-top: 30%;
        margin-bottom: 10%;
        font-size: 25px;
    }
}