.Navbar {
    background:rgb(75, 113, 129);
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .Navbar ul {
    list-style: none;
    margin-top: 3px;
    margin-bottom: 3px;
    text-align: left;
  }
  
  .Navbar ul li {
    font-size: 17px;
    padding-right: 20px;
    padding-left: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
  }
  
  .Navbar ul li a {
    color: rgba(197, 232, 255, 0.685);
    text-decoration: none;
    cursor: pointer;
    transition: color .3s;
  }
  
  .Navbar ul li a:hover {
    color: rgb(126, 193, 255);
  }

  

@media (max-width: 770px) {
    .Navbar ul {
        text-align: center;
        margin-top: 2px;
        margin-bottom: 3px;      
    }

    .Navbar ul li {
        padding-right: 10px;
        padding-left: 10px;
    }
}