@import url('https://fonts.googleapis.com/css2?family=Anton&family=Comfortaa:wght@300&display=swap');

body {
  background: linear-gradient(to right, #aad4f7,  #e8ecec);
  margin: 0;
  padding: 0;
  text-align: center;
  color: rgb(55, 74, 95);
  font-family: 'Comfortaa', cursive;
}


